@inject IItemUrlService UrlService
@using Blog.Data
@using Blog.Website.Components
@using Lightcore.Kernel.Url
@model IEnumerable<Lightcore.Kernel.Data.IItemDefinition>
<h3>Posts tagged '@ViewBag.TagName'...</h3>
@foreach (var item in Model)
{
    <h1 class="post-title">
        <a href="@UrlService.GetUrl(item)">@item["title"]</a>
    </h1>
    <p>@item["summary"]</p>
    <span class="post-date">Posted @DateTime.Parse(item["date"]).ToHumaneString(), tagged: @await Component.InvokeAsync(nameof(Tags), new {Item = item})</span>
}